@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

/* Custom Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

/* Fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  color: #fff;
}

* {
  font-family: "Source Sans Pro", sans-serif;
}

code,
pre {
  font-family: "Source Code Pro", monospace;
}

/* Fluid Typography */
html {
  height: 100vh;

  width: 98.91vw;
  font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  width: 100%;
  height: 100%;
}

/* UI styles  */

.block-1 {
  background-color: #000000;
  
}


.block-2 {
  background-color: #fffdfe;
}

.block-2 .title,
.block-2 .txt {
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.block {
  height: 100vh;
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: grid;
  height: 95vh;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem calc((100vw - 1300px) / 2);
}

@media screen and (max-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.col {
  display: flex;
  align-items: column;
  flex-direction: column;
  justify-content: center;
}

.col-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  padding: 0rem 2rem;
}

.col-left .title {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-style: italic;
}

.col-left .txt {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.1;
}

.col-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.block-img {
  width: 100%;
  height: 100%;
  max-width: 480px;
  max-height: 650px;
}

@media screen and (max-width: 480px) {
  .block-img {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .block-img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 500px;
  }
}
.txt {
  color: #fff;
}


button {
  border: none;
  padding: 0.6em 2.5em;
  background: black;
  font-size: 1.2rem;
  color: #ffffff;
  border: 0.1em solid #ffffff;
  font-weight: bolder;
}

button:hover,
button:focus {
  cursor: pointer;
  color: #20f143;
}
button:hover,
button:focus {
  border-radius: 0.8em;
  transition: all 0.5s ease-in-out;
}

button:not(:focus) {
  transition: all 0.5s ease-in-out;
  border-radius: none;
}

button:active {
  color: rgb(0, 0, 0);
  font-weight: bolder;
  background-color: #ffffff;
  border: 0.1em solid black;
  transition: all 0.2s ease-in-out;
}