@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

:root {
  --color: #ffff;
  --color2: black;
  --color3:#ffff;
  --color4: #02501af6;
  --color5: #228B22;
  --color6: #018041;
  --color7: rgba(0, 0, 0, 0.407);
  --color8: #228B22;
  --color9: #6eb611;
  --color10: #304607;
  --color11: #ffff;
  --color12: #06c526;
  
}


*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: var(--color);
}

::-webkit-scrollbar-thumb {
  border: 2px solid var(--color);
  border-radius: 50px;
  background-color: var(--color2);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color);
}

a, a:visited, a:active {
  text-decoration: none;
  color: var(--color3);
}

li {
  list-style: none;
}

#preloadder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--color3);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url();
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35%;
  z-index: 99999;
}

.btn {
  color: var(--color3);
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  background-color: var(--color2);
  padding: 1rem 2rem;
  border-radius: 3px;
  box-shadow: var(--color4) 0px 3px 8px;
  overflow: hidden;
}

.btn span {
  color: var(--color3);
  font-weight: 700;
  letter-spacing: 1.2px;
  flex-wrap: nowrap;
  transition: all 700ms ease-in-out;
}
.btn svg {
  color: var(--color3);
  transition: all 700ms ease-in-out;
  width: 20px;
}
.btn:hover, .btn:visited {
  color: var(--color3);
}
.btn:hover span, .btn:visited span {
  transform: translateX(15px);
}
.btn:hover svg, .btn:visited svg {
  transform: translateX(600px);
}

/*WhatsApp Animated Icon Styles*/
.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  text-align: center;
}

.icon-container {
  display: inline-flex; /* Centers the icon vertically */
  justify-content: center; /* Centers the icon horizontally */
  width: 60px; /* Adjust size as needed */
  height: 60px; /* Adjust size as needed */
  border-radius: 50%; /* Makes the border round */
  background-color:white; /* Sets the inside color to black */
  border: 1px solid,black; /* Adjust border color/size as needed */
}

.whatsapp-icon i {
  font-size: 48px;
  color: green;
  align-self: center; /* Centers the icon vertically */
  transition: color 0.3s ease; /* Smooth color transition */
}

.whatsapp-icon p {
  font-size: 14px;
  font-weight: bold;
  color: black;
  margin: 0;
  margin-bottom: 10px; /* Add bottom margin */
}

/* Change color on hover */
.whatsapp-icon:hover .icon-container {
  background-color: black;
}

.whatsapp-icon:hover i {
  color: green;
}

/*Animation Keyframes*/
@keyframes move {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(-20px); }
}

.move {
  animation: move 2s infinite;
}

@media (max-width: 600px) {

  .whatsapp-icon {
    position: fixed;
    bottom: 10px;  /* reduced bottom margin */
    right: 10px;  /* reduced right margin */
  }
  
  .icon-container {
    width: 50px;  /* reduced size */
    height: 50px;  /* reduced size */
  }
  
  .whatsapp-icon i {
    font-size: 30px;  /* reduced font size */
  }
  
  .whatsapp-icon p {
    font-size: 12px;  /* reduced font size */
  }
  
  /*Reduce animation intensity for smaller screens*/
  @keyframes move {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(-10px); }  /* reduced translation */
  }

}

/*view more*/
@keyframes rotateAnimation {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-view-all {
  justify-content: center;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  margin: 8rem auto;
  font-weight: 700;
  color: var(--color2);
  background-color: transparent;
  border: 6px solid var(--color2);
  transition: all 500ms ease-in-out;
 
}

.btn-view-all::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  width: 30px;
  height: 15px;
  background-color: var(--color12);
  animation: rotateAnimation 2s infinite linear;
}

.btn-view-all::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  width: 30px;
  height: 15px;
  background-color: var(--color12);
  animation: rotateAnimation 2s infinite linear;
}

.btn-view-all:hover {
  animation: none;
  background-color: var(--color);
  color: var(--color12);
}


.btn-view-less {
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  margin: 8rem auto;
  font-weight: bolder;
  color: var(--color2);
  background-color: transparent;
  border: 6px solid var(--color2);
  transition: all 500ms ease-in-out;
 
}

.btn-view-less::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  width: 30px;
  height: 15px;
  background-color: var(--color12);
  animation: rotateAnimation 2s infinite linear;
}

.btn-view-less::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  width: 30px;
  height: 15px;
  background-color: var(--color12);
  animation: rotateAnimation 2s infinite linear;
}

.btn-view-less:hover {
  animation: none;
  background-color: var(--color);
  color: var(--color12);
}


.main-container {
  margin: 4rem auto;
  max-width: 1000px;
  margin-bottom: 4rem;
  
}

.main-text {
  max-width: 1000px;
  margin: 4rem auto;
  text-align: center;
  color: var(--color2);
}
.main-text h1 {
   font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 4rem;
  letter-spacing: 1.5px;
  margin-bottom: 2rem;
}
.main-text h1 span {
  color: var(--color2);
}
.main-text h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  position: relative;
}
.main-text h2::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -5px;
  width: 0.4rem;
  height: 0.4rem;
  background-color: var(--color5);
}
.main-text p {
  
  display: inline-block;
  font-size: 1.3rem;
  letter-spacing: 1px;
  position: relative;
  max-width: 80%;
  opacity: 70%;
}
.main-text p::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%) rotate(-45deg);
  width: 10px;
  height: 10px;
  border-radius: 50px;
  opacity: 20%;
  background-color: var(--color2);
}
.main-text p::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%) rotate(-45deg);
  width: 10px;
  height: 10px;
  border-radius: 50px;
  opacity: 20%;
  background-color: var(--color2);
}

.grid {
  display: grid;
}
.grid-2 {
  grid-template-columns: 1fr 1fr;
}
.grid-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(var(--color6), transparent);
  width: 100%;
  height: 50px;
}


.image-box {
  cursor: pointer;
  position: relative;
  z-index: -1;
  height: 450px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.image-box img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.image-box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color7);
  width: 100%;
  height: 100%;
  opacity: 60%;
}
.image-box-text {
  position: absolute;
  bottom: 10px;
  left: 15px;
}
.image-box-text h2 {
  font-size: 3rem;
  color: var(--color3);
  opacity: 80%;
}
.image-box-text p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color3);
  opacity: 80%;
}

.primary-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color8);
  color: var(--color3);
  padding: 1rem 2rem;
  z-index: 9999;
  border-bottom: 4px solid black;  /* Add this line */
}

.primary-header .left-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.primary-header .left-part img {
  width: 50px;
  filter: grayscale(1) invert(1);
}
.primary-header .left-part .logo {
  display: none;
}
.primary-header .left-part .logo h1 {
  font-family:'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 2rem;
}
.primary-header .left-part .logo h1 span {
  color: var(--color2);
  letter-spacing: 2px;
}
.primary-header .right-part .navbar {
  opacity: 0;
  position: absolute;
  top: -500px;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 1.5rem;
  letter-spacing: 1px;
  background-color: var(--color7);
  transition: all 1000ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 1rem;
}
.primary-header .right-part .navbar ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}
.primary-header .right-part .navbar ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color: var(--color3);
  font-size: 2rem;
  transition: all 500ms ease-in-out;
}
.primary-header .right-part .navbar ul li a:hover {
  color: var(--color2);
}
.primary-header .right-part .navbar.active {
  opacity: 1;
  top: 50px;
}
.primary-header .right-part .ham-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.primary-header .right-part .ham-menu .line {
  width: 35px;
  height: 0.6rem;
  background-color: var(--color3);
  border-radius: 5px;
  transition: all 500ms ease-in-out;
}
.primary-header .right-part .ham-menu.active .line {
  transform-origin: 10px 3px;
}
.primary-header .right-part .ham-menu.active .line-1 {
  transform: rotate(405deg);
}
.primary-header .right-part .ham-menu.active .line-2 {
  display: none;
}
.primary-header .right-part .ham-menu.active .line-3 {
  transform: rotate(-405deg);
}
.banner {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.401), rgba(0, 0, 0, 0.605)), url("https://github.com/Yu5Ry7/raghu/blob/main/public/images/land4.png?raw=true");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 1rem 5rem 1rem 2rem;
}
.banner-text {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  line-height: 1.5;
  font-style:'Montserrat', sans-serif;
  font-weight: bolder;
}
.banner-text h1 {
  font-size: 8vh;
  color: var(--color3);
  margin-bottom: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.3;
  font-style:'Montserrat', sans-serif;
  font-weight: bolder;
}
.banner-text h1 span {
  color: var(--color2);
}
.banner-text p {
  font-style: 'Montserrat', sans-serif;
  font-weight: 500;
  color: var(--color3);
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin-bottom: 3rem;
  padding-right: 2rem;
}
.banner-text .btn-get {
  display: inline-block;
  padding: 1rem 4rem;
  transition: all 500ms ease-in-out;
}
.banner-text .btn-get:hover {
  background-color: var(--color5);
}

.explore {
  margin: 10rem auto 0rem auto;
  width: 100%;
  height: 100%;
  padding: 4rem 2rem;
}
.explore .main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 2rem;
}

.about {
  margin: 0rem auto;
  padding: 10rem 2rem 2rem 2rem;
}
.about .main-container {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 10px;
  overflow: hidden;
  box-shadow:rgba(255, 255, 255, 0.25) 0px 0.0625em 0.0625em, rgba(255, 255, 255, 0.5) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.054) 0px 0px 0px 1px inset;
}
.about .main-container video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tour {
  width: 100%;
  margin: 0rem auto 0rem auto;
  padding: 10rem 2rem 2rem 2rem;
}
.tour .main-container {
  margin: 5rem auto;
}
.tour .main-container .tour-cards {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.tour .main-container .tour-cards .image-box {
  border-radius: 5px;
  grid-column: span 2;
  height: 300px;
}
.tour .main-container .tour-cards .image-box .overlay {
  opacity: 25%;
}
.tour .main-container .tour-cards .image-box-text h2 {
  font-size: 1.3rem;
}
.tour .main-container .tour-cards .image-box-text p {
  font-size: 1rem;
}
.tour .main-container .tour-cards-text {
  color: var(--color2);
  line-height: 1.7;
}
.tour .main-container .tour-cards-text h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  cursor: pointer;
  font-size: 3rem;
  margin-bottom: 1rem;
  transition: all 350ms ease-in-out;
}
.tour .main-container .tour-cards-text h1:hover {
  color: var(--color2);
}
.tour .main-container .tour-cards-text p {
  cursor: pointer;
  font-size: 1.3rem;
  opacity: 70%;
  margin-bottom: 3rem;
}
.tour .main-container .tour-cards-text .btn-map {
  display: flex;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  color: var(--color2);
  text-decoration: underline;
}
.tour .main-container .tour-cards-text .btn-map svg {
  width: 25px;
}
.tour .main-container .tour-cards-text .btn-map span {
  font-size: 1.4rem;
}
.tour .main-container .tour-cards-text .price {
  width: 100%;
  max-width: 500px;
  cursor: pointer;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  color:black;
  border-radius: 50px;
  text-align: center;
  
}

.tour .main-container .tour-cards-text .price p {
  font-weight: 500;
  font-size: medium;
  padding: 1.5rem 2rem; /* Increase the horizontal padding to make the button wider */
  border-radius: 10rem;
  background-color: var(--color12);
  flex-basis: 75%;
  opacity: 100%;
}

.tour .main-container .tour-cards-text .price:hover {
  color: var(--color3);
}

*/.media {
  margin: 0rem auto 0rem auto;
  padding: 10rem 2rem 2rem 2rem;
}
.media .main-container {
  display: flex;
  overflow: auto;
  width: 100%;
  gap: 2rem;
  font-family: m'Montserrat', sans-serif;
  font-weight: bolder;
}
.media .main-container .image { 
  flex: 0 0 auto;
  transition: transform 2s linear;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 280px;
  background-color:var(--color11);
  border-radius: 3px;
  overflow: hidden;
  transition: all 450ms ease-in-out;
}
.media .main-container .image img {
  transition: all 450ms ease-in-out;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.media .main-container .image h3 {
  transition: all 450ms ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: var(--color2);
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
}
.media .main-container .image:hover {
  transform: scale(1.02);
}
.media .main-container .image:hover img {
  opacity: 70%;
}
.media .main-container .image:hover h3 {
  opacity: 1;
}


/*
.contact {
  margin: 0rem auto;
  padding: 10rem 2rem 2rem 2rem;
}
.contact .main-container form {
  width: 100%;
  max-width: 600px;
  color: var(--color3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
  margin: 0 auto;
}
.contact .main-container .btn-send {
  margin-top: 2rem;
  padding: 1rem 4rem;
  border: none;
  cursor: pointer;
  background-color: var(--color2);
  color: var(--color);
  font-weight: 700;
  font-size: 1.6rem;
  transition: all 350ms ease-in-out;
}
.contact .main-container .btn-send:hover {
  background-color: var(--color5);
}
.contact .main-container .phone, .contact .main-container .name, .contact .main-container .message {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact .main-container .phone label, .contact .main-container .name label, .contact .main-container .message label {
  font-size: 1.5rem;
  margin: 1rem 0;
  letter-spacing: 1.2px;
}
.contact .main-container .phone input, .contact .main-container .phone textarea, .contact .main-container .name input, .contact .main-container .name textarea, .contact .main-container .message input, .contact .main-container .message textarea {
  padding: 1rem 1.4rem;
  font-size: 1.3rem;
  border: 2px solid var(--color2);
  background-color: transparent;
  outline: none;
  color: var(--color2);
  resize: none;
}
.contact .main-container .phone input::-moz-placeholder, .contact .main-container .phone textarea::-moz-placeholder, .contact .main-container .name input::-moz-placeholder, .contact .main-container .name textarea::-moz-placeholder, .contact .main-container .message input::-moz-placeholder, .contact .main-container .message textarea::-moz-placeholder {
  color: var(--color3);
  opacity: 70%;
}
.contact .main-container .phone input:-ms-input-placeholder, .contact .main-container .phone textarea:-ms-input-placeholder, .contact .main-container .name input:-ms-input-placeholder, .contact .main-container .name textarea:-ms-input-placeholder, .contact .main-container .message input:-ms-input-placeholder, .contact .main-container .message textarea:-ms-input-placeholder {
  color: var(--color3);
  opacity: 70%;
}
.contact .main-container .phone input::placeholder, .contact .main-container .phone textarea::placeholder, .contact .main-container .name input::placeholder, .contact .main-container .name textarea::placeholder, .contact .main-container .message input::placeholder, .contact .main-container .message textarea::placeholder {
  color: var(--color3);
  opacity: 70%;
}
*/footer {
  margin: 5rem auto 0rem auto;
  background-color: var(--color8);
  border-top: 4px solid black;  /* Add this line */
}
footer .footer-image {
  width: 100%;
  height: 80vh;
  background: url("https://images.unsplash.com/photo-1510437097452-74ac66e27feb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
footer .footer-image .overlay2 {
  background: linear-gradient(transparent, rgb(8, 8, 8), rgb(8, 8, 8));
}
footer .main-container {
  background-color: var(--color8);
  color: var(--color3);
  margin: 0rem auto;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4rem;
}
footer .main-container img {
  filter: grayscale(1) invert(1);
  opacity: 90%;
  margin-bottom: 0.1rem;
  width: 55px;
}
footer .main-container p {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  line-height: 1.5;
  font-size: 1.5rem;
  text-transform: lowercase;
}
footer .main-container h1 {
  font-size: 2rem;
  position: relative;
}

footer .main-container .heading-foo h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  margin-bottom: 1rem;
}

footer .main-container .social-media h1 {
  margin-bottom: 1rem; /* This adds space beneath the heading */
}

footer .main-container .social-media ul {
  display: flex; /* Places list items in a row */
  justify-content: flex-start; /* Align items at the start */
  list-style: none; /* Removes bullet points */
  padding: 0 1rem; /* This reduces the space between the icons */
}

footer .main-container .social-media ul li {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  cursor: pointer;
  flex-wrap: nowrap;
  background-color: transparent;
  border: none; /* remove the round border */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 350ms ease-in-out;
  margin-right: 1rem; /* This also reduces the space between the icons */
}

footer .main-container .social-media ul li i {
  font-size: 3rem; /* Increase the font size for larger icons */
  color:rgb(255, 255, 255); /* set the icon color to black */
}

footer .main-container .social-media ul li:hover i {
  color:  rgb(0, 0, 0); /* set the hover color to white */
}

footer .main-container .main {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 2rem;
}
footer .main-container .main ul {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
footer .main-container .main ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
  transition: all 350ms ease-in-out;
}
footer .main-container .main ul li a:hover {
  color: var(--color2);
}
footer .main-container .contact-info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
footer .credit {
  margin: 5rem auto 0rem;
  padding: 0 0 4rem 0;
  color: var(--color3);
  text-align: center;
  letter-spacing: 1.2px;
}
footer .credit a {
  color: var(--color2);
}

@media (min-width: 868px) {
  #preloadder {
    background-size: 15%;
  }
  .primary-header {
    padding: 1rem 6rem;
    gap: 2rem;
  }
  .primary-header .left-part .logo {
    display: inline-block;
  }
  .primary-header .right-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .primary-header .right-part .navbar {
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
    flex-direction: row;
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    padding: 0;
  }
  .primary-header .right-part .navbar ul {
    flex-direction: row;
  }
  .primary-header .right-part .navbar ul li a {
    font-size: 1.5rem;
  }
  .primary-header .right-part .ham-menu {
    display: none;
  }
  .banner-text {
    text-align: center;
    width: 65%;
  }
  .banner-text h1 {
    font-size: 12rem;
  }
  .about .main-text p {
    width: 80%;
  }
  .tour .main-container .tour-cards {
    grid-template-columns: 1fr 1fr;
  }
  .tour .main-container .tour-cards .image-box {
    grid-column: 1/1;
  }
  .sale .info {
    width: 50%;
  }
  footer .main-container .main {
    padding: 0 0 0 5rem;
  }
}
